.c_row{
	background-color: pink;
	padding: 10px 0;
	margin-bottom: 10px;

}

.bgc{
	background-color: #99D9EA;
	min-height: 50px;
}
.c_mb{
	margin-bottom: 10px;
}

.bgc_r{
	background-color: red;
}